/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

body, button {
	line-height: 1;
	font-family: 'Quattrocento Sans', sans-serif;
	color: white;
}

button {
	background-color: rgba(0, 0, 0, 0.605);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 5px;
}

button:hover {
	background-color: rgba(108, 107, 107, 0.605);
}

h1 {
	font-size: 3rem;
	font-weight: bold;
}

h2 {
	font-weight: bold;
}

input {
	border-radius: 5px;
	border: 1px solid grey;
	padding: 2px;
}

input[type="radio"]{
	accent-color: black;
}

#sideBar, .card, .formArea {
	background-image: linear-gradient(rgb(113, 0, 148), rgb(236, 0, 193));
	padding: 20px;
}

#container {
	display: grid;
	grid-template-columns: 200px 4fr;
	height: 100vh;
}

#sideBar {
	grid-column: 1/2;
	grid-row: 1/-1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	border-right: 2px solid grey;
}

#sideBar button {
	height: 50px;
	width: 80%
}

#content {
	grid-column: 2/3;
	grid-row: 1/-1;
	background-color: black;
}

#cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	align-content: start;
	grid-gap: 30px;
	padding: 30px;
}

.card {
	display: grid;
	height: 200px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px rgb(125, 125, 125);
}

.card:hover {
	transform: scale(1.05);
}

.card div:first-of-type {
	font-size: 1.7rem;
	font-weight: bold;
	overflow-x: auto;
}

.card div:first-of-type, .card div:nth-of-type(2), .card div:nth-of-type(3) {
	text-align: center;
}

.cardButtons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}

#addBook {
	display: none;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.formArea {
	height: 300px; 
	width: 300px;
	display: grid;
	align-items: center;
	box-shadow: 1px 1px 10px rgb(125, 125, 125);
}

#header button {
	width: 50px;
	font-size: 1.5rem;
}

#bookForm {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	align-content: center;
	grid-gap: 15px;
}

#formButtons {
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
}

#formButtons > button {
	height: 50px;
	width: 120px;
}

#header {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
}